body {
    height: 100%;
    width: 1600px;
    margin: 0 auto;
    background-color: #0e0b2a;
}

/* Header */
.bandeau_top {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.bandeau_res {
    color: #f2f1a8;
    position: absolute;
    font-family: 'Cantata One', serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 7px;
    padding-left: 7px;
    width : 190px;
    height: 35px;
    display: inline-block;
    border : 5px solid #f2f1a8;
    border-radius: 50px;
}

.bandeau_res a {
    text-decoration: none;
    color: #f2f1a8;
}


.cont_res {
    display: inline-block;
    position:absolute;
    height: 40px;
    margin-top: 15px;
    margin-left: 1220px;
}

.cont_res a {
    margin-left: 15px;
}

header {
    width: 100%;
    background-image: url(images/ciel.png);   
}

.logo {
    position: relative;
    width: 450px;
    margin: 0 auto;
    display: block;
}

.logo img {
    width: 450px;
    margin: 0 auto;
}

/* Navbar */

navbar {
    width: 1600px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border-top: 4px solid #f2f1a8;
}

navbar a {
    text-decoration: none;
    color: #f2f1a8;
}

navbar a:active {
    text-decoration: underline;   
}

ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 10px;
    width: 1600px;
    height: 50px;
    display:inline-block;
    background: #0e0b2a;
    opacity: 0.7
        
}

li {
    width:auto;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Cantata One', serif;
}



a:hover {
    color: #e3e13b;   
}

/* Section Générale */
.bloc_page  {
    position: absolute;
    margin: 0 auto;
    width: 1600px;
    height: 100%;
    background-image:url(images/smoke-effect.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

h1 {
    color: #f2f1a8;
    text-align: center;
    margin-left: -130px;
}

section {
    height: auto;
    width: 1600px;
    
}

/* Footer */

.cont_foot {
    position: fixed;
    width: 1600px;
    height: 210px;
    margin-top: auto;
    bottom: 0px;
}

.bandeau_footer {
    width: 1600px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border-bottom: 4px solid #f2f1a8;
    background: #0e0b2a;
    opacity: 0.7;
}

.contenu_footer {
    position: absolute;
    background-image: url(images/ciel.png);
    height: 100%;
    width: 1600px;
}