body {
    height: 100%;
    width: 1600px;
    margin: 0 auto;
    background-color: #0e0b2a;
}

/* Header */
.bandeau_top {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.bandeau_res {
    position: absolute;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 100px;
    padding-top: 5px;
    padding-left: 7px;
    width : 190px;
    height: 35px;
    display: inline-block;
}

.bandeau_res a {
    text-decoration: none;
    color: #f2f1a8;
}


.cont_res {
    display: inline-block;
    position:absolute;
    height: 40px;
    margin-top: 15px;
    margin-left: 1220px;
}

.cont_res a {
    margin-left: 15px;
}

header {
    width: 100%;
    background-image: url(images/ciel.png);   
}

.logo {
    position: relative;
    width: 450px;
    margin: 0 auto;
    display: block;
}

.logo img {
    width: auto;
    margin: 0 auto;
    margin-left: 80px;
}

/* Navbar */

navbar {
    width: 1600px;
    height: 60px;
    margin: 0 auto;
    display: block;
    border-top: 4px solid #f2f1a8;
}

navbar a {
    text-decoration: none;
    color: #f2f1a8;
}

navbar a:active {
    text-decoration: underline;   
}

ul {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 10px;
    width: 1600px;
    height: 50px;
    display:inline-block;
    background: #0e0b2a;
    opacity: 0.7
        
}

li {
    width:auto;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-left: 200px;
    font-size: 30px;
    font-family: 'Cantata One', serif;
}



a:hover {
    color: #e3e13b;   
}

/* Section Générale */
.bloc_page  {
    position: absolute;
    margin: 0 auto;
    width: 1600px;
    height: auto;
    background-image:url(images/smoke-effect.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: #f2f1a8;
    text-align: center;
}

section {
    height: auto;
    width: 1600px;
    
}

/* Section bandeau*/

.section_bandeau {
  position: relative;  
}

.cont_bandeau {
    position:absolute;
    display: block;  
    width: auto;
}

.texte_bandeau {
    position :absolute;
    height: 60px;
    display: block;
    margin: 0 auto;
    width: 450px;
    font-size: 15px;
    margin-top: 385px;
    margin-left: 565px;
    padding: 10px;
    font-family: 'Cantata One', serif;
}

.texte_bandeau_spec {
    position :absolute;
    height: 60px;
    display: block;
    margin: 0 auto;
    width: 450px;
    font-size: 15px;
    margin-top: 185px;
    margin-left: 565px;
    padding: 10px;
    font-family: 'Cantata One', serif;
}

.texte_bandeau_spec h1{
    border: 5px solid #0e0b2a;
    border-radius: 30px;
    background: white;
    width : 1600;
    padding : 10px;
    color: #0e0b2a;
    text-align: center;
}


.texte_bandeau h1 {
    border: 5px solid #0e0b2a;
    border-radius: 30px;
    background: white;
    width : 1600;
    padding : 10px;
    color: #0e0b2a;
    text-align: center;
}

/* Page home */

.cont_contenu {
    padding-top: 500px;
    position: relative;
    display: block;
    width: 1600px;
    height: auto;
    padding-bottom: 30px;
   
}

.cont_contenu_mp {
    padding-top: 200px;
    position: relative;
    display: block;
    width: 1600px;
    height: 560px;
}

.astuce_clown {
    width: 150px;
    height:175px;
    display: inline-block;
    top: -60px;
    position: relative;
    margin: 10px;
    opacity: 0.9;
}

.first_performance {
    width: 400px;
    height: 400px;    
    display: inline-block;
    border: 6px solid white;
    margin-left: 0px;
}

.second_performance {
    width: 400px;
    height: 400px;    
    display: inline-block;
    border: 6px solid white;
    margin-left: ;
}

.third_performance {
    width: 400px;
    height: 400px;    
    display: inline-block;
    border: 6px solid white;
    margin-left: ;
}

.performance_text {
    position: absolute;
    display: block;
    width: 400px;
    height: 40px;
    background: white;
    border: 0px solid white;
    color: #0e0b2a;
    font-size: 27px;
    font-family: 'Cantata One', serif;
    margin-top: -40px;
    text-align: center;
}

/* Pages performance*/

.img_performance {
    width: 432px;
    height: 287px;
    border: 6px solid white;
    display :inline-block;
}

.text_performance {
    display: inline-block;
    width: 432px;
    height: 287px;
    background: white;
    border: 6px solid #0e0b2a;
    margin-bottom: -6px;
    margin-left: 134px;
}

.artist_performance {
    display: inline-block;
    position: relative;
    width: 432px;
    height: 120px;
    margin-left: 60px;
    top: -80px;
}

.artist_performance img {
    margin-left: 70px;
}

.scroll {
    width: 1600px;
    margin-top: 20px ;
    margin-left: 725px;
}

.next_forward {
    display: inline-block;
    margin-left: 35px;
}

.next {
   display: inline-block;
}

.forward {
   display: inline-block; 
}

/* Page show */

.cont_section_bis {
    height: 600px;
    margin-top: -260px;
    display: block;
}

.cont_section_bis .cont_contenu {
    padding-top: 270px;
    margin-top: 0px;    
}

.cont_section_bis .cont_contenu .text_performance {
    margin-bottom: -7px;
    margin-top: 0px;
}

.cont_section_bis .cont_contenu .artist_performance {
    top: -60px;
}

.texte_show {
    margin-top: -45px;
    height: 45px;
    width: 435px;
    position: absolute;
    background: white;
    font-size: 20px;
    font-family: 'Cantata One', serif;
}

.texte_show h1 {
    margin-top: 5px;
    color: #0e0b2a;
}
/* Page artist */

.fiche_artist {
    display: inline-block;
    margin-left: 95px;
    margin-top: 15px;
    width: auto;
    height: 380px;
}

.img_artist {
    height: 50%;
}

.text_artist {
    background: white;
    width: 270px;
    height: 40%;
    display:inline-block;
    margin-top: 70px;
    border: 6px solid #0e0b2a;
}

/* Page contact */

form {
    color: #f2f1a8;
    font-family: 'Cantata One', serif;
    width: 50%;
    display: block;
    position: relative;
    margin-bottom: 0px;
    
}

input {
    width: 300px;
    
}

label {
    display: block;
    width: 400px;
    float: left;
    font-size: 17px;
    
}

fieldset {
    font-size: 20px;
    background: #0e0b2a; 
}

fieldset span {
    font-style:italic;
    font-size: 17px;
}

legend {
    font-size: 25px;
    text-decoration: underline;
}

#prefer {
    width: 0px;
}

#prefer1 {
    width: 0px;
    margin-left: 40px;
}

.red {
    color: red;
}

/* Contact info */

.cont_contact {
    display: block;
    position: relative;
    width: 50%;
    height: 400px;
    margin-left: 900px;
    margin-top: -630px;
    margin-bottom: 220px;
}

.img_contact {
    display: inline-block;
    width: auto;
    height: 200px;
    margin-left: 200px;   
}

.info_contact {
    width: 400px;
    height: 125px;
    margin-left: 150px;
    font-size: 20px;
    color: #f2f1a8;
    Background: #0e0b2a;
    border: 2px solid white;
    font-family: 'Cantata One', serif;
    margin-bottom: 40px;
    text-align: center;
}

.info_contact p {
    margin-top: 0px;
    padding: 10px;
}

/* Page gallery */

.pictures {
    display: inline-block;
    position: relative;
    margin-top: 310px;
    height: auto;
}

.pictures ul {
    margin-top: 0px;
    margin-left: 80px;
    padding-top: 10px;
    width: 1600px;
    height: 100px;
    display: inline-block;
    background: none;
    opacity: 1;
}

.pictures ul li {
    position:relative;
    float:left;
    width:300px;
    height:300px;
    padding:10px;
    list-style:none;
    margin-left: 100px 
}

.pictures ul li:nth-child(4n){
    clear:left;
}

.pictures ul li a{
    display:block;
    overflow:hidden;
    width:300px;
    height:300px;
    margin-top:0px;
    margin-left:0px;
    border:0px solid rgba(0,0,0,0.7);
    transition-property:width,height,margin,z-index,border;
    transition-duration:0.4s;
}

.pictures ul li a:hover{
    position:absolute;
    width:500px;
    height:500px;
    margin-top:-50px;
    margin-left:-90px;
    z-index:100;
    border:6px solid rgba(0,0,0,0.7);
}

.pictures #second_rang li a:hover{
    margin-top: -200px;
}

.pictures ul li a img{
    position:absolute;
    width:300px;
    height:300px;
    z-index:20;
    transition-property:width,height,z-index;
    transition-duration:0.4s;
}

.pictures ul li a:hover img{
    width:500px;
    height:500px;
    z-index:100;
}
/* Page News */

h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}


/* Page Schedule */

/* Footer */

.cont_foot {
    position: relative;
    width: 1600px;
    height: 210px;
    margin-top: auto;
    bottom: 0px;
}

.cont_footer_bouton {
    position: relative;
    width: 500px;
    height: 74px;
    margin: 0 auto;
}

.bandeau_footer {
    width: 1600px;
    height: 70px;
    margin: 0 auto;
    display: block;
    border-bottom: 4px solid #f2f1a8;
    background: #0e0b2a;
    opacity: 0.7;
}

.bandeau_footer li {
    color: #f2f1a8;
    margin-left: 85px;
    margin-top: -5px;
    font-size: 25px;   
}
.bandeau_footer a {
    text-decoration: none;
    color: #f2f1a8;
}

.bandeau_footer ul {
    margin-top: 0px;
    margin-left: -50px;
}

.contenu_footer {
    position: absolute;
    background-image: url(images/ciel.png);
    height: 100%;
    width: 1600px;
}

/* Page private access*/

#private_access {
    color: #f2f1a8;   
}

.mot_passe {
    position: absolute;
    display: block;
    margin-top: 250px;
}